langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-mistralai
langchain-groq
langchain-anthropic
openai
huggingface_hub
chromadb
faiss-cpu
pypdf
fastembed
onnxruntime
unstructured
docx2txt
yt_dlp
pydub
xlrd
tiktoken
python-dotenv
google-generativeai
kagglehub
lark
pandas
numpy
matplotlib
seaborn
tqdm
posthog
tabulate
pydantic
sentence-transformers
transformers
docarray
notebook
ipykernel
